{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">
    <h1 id="item-banner">
      <!-- use wowhead for ilvl 600+ -->
      <img src="http://us.media.blizzard.com/wow/icons/36/{{ gearitem.icon }}.jpg" />
      <span class="item-quality{{ gearitem.quality }}">{{ gearitem.name }}</span>
      {% if gearitem.nameDescription %} -
        <span class="nameDescription">{{ gearitem.nameDescription }}</span>
      {% endif %}
    </h1>
    <a href="{% url 'gearitem:listing' %}">&larr; Back to all items</a>
    
    <a class="navbar-right" href="http://www.wowhead.com/item={{ gearitem.id }}">
      <img src="{% static "wowhead.png" %}" />
      View on wowhead.com
    </a>
    
    <h4>Zone</h4>
    {{ gearitem.zone }}
    
    <h4>Boss/Source</h4>
    {{ gearitem.source }}
    
    <h4>Slot</h4>
    {{ gearitem.slotName }}
    
    {% if not gearitem.gearcontext_set.all %}
      <h4>Stats</h4>
      <p>No contexts are defined for this item; probably old MoP item</p>
      <table class="table table-striped">
        <tr>
          <th>Agility</th>
          <td>{{ gearitem.agility }}</th>
        </tr>
        <tr>
          <th>Crit</th>
          <td>{{ gearitem.crit }}</td>
        </tr>
        <tr>
          <th>Haste</th>
          <td>{{ gearitem.haste }}</th>
        </tr>
        <tr>
          <th>Mastery</th>
          <td>{{ gearitem.mastery }}</td>
        </tr>
        <tr>
          <th>Multistrike</th>
          <td>{{ gearitem.multistrike }}</td>
        </tr>
        <tr>
          <th>Versatility</th>
          <td>{{ gearitem.versatility }}</td>
        </tr>
      </table>    
    {% else %}
      <h4>Contexts</h4>
      {% for context in gearitem.gearcontext_set.all %}
        <h5>{{ context.contextPretty }}: {{ context.ilvl }}</h5>
        <table class="table table-striped">
          <tr>
            <th>Agility</th>
            <td>{{ context.agility }}</th>
          </tr>
          <tr>
            <th>Crit</th>
            <td>{{ context.crit }}</td>
          </tr>
          <tr>
            <th>Haste</th>
            <td>{{ context.haste }}</th>
          </tr>
          <tr>
            <th>Mastery</th>
            <td>{{ context.mastery }}</td>
          </tr>
          <tr>
            <th>Multistrike</th>
            <td>{{ context.multistrike }}</td>
          </tr>
          <tr>
            <th>Versatility</th>
            <td>{{ context.versatility }}</td>
          </tr>
        </table>
      {% endfor %}
    {% endif %}
    
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
  </div>
{% endblock %}